<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278774091147-9fj7eg59nv67g79ua8cactksoqvv6q8l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278774091147-9fj7eg59nv67g79ua8cactksoqvv6q8l</string>
	<key>API_KEY</key>
	<string>AIzaSyBTGmQWBMbqPSSnsZ4141R57wfMZs1ebLE</string>
	<key>GCM_SENDER_ID</key>
	<string>278774091147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bovinapp</string>
	<key>PROJECT_ID</key>
	<string>bovinapp-project</string>
	<key>STORAGE_BUCKET</key>
	<string>bovinapp-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278774091147:ios:54af9674ca26f46aa7738e</string>
</dict>
</plist>